@model List<Employee>
@{
}


<h2 class="text-center mb-5">Lista zaposlenih</h2>

<div class="row mb-5">
    <div class="col">
        @if (User.IsInRole("admin"))
        {
            <a class="btn btn-primary" asp-controller="Employee" asp-action="Create">Novi zaposleni</a>
        }
    </div>
    <div class="col">
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Adresa</th>
            <th>Telefon</th>
            <th>Plata</th>
            <th>Akcija</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Employee_name</td>
                <td>@employee.Employee_surname</td>
                <td>@employee.Employee_address</td>
                <td>@employee.Employee_phone</td>
                <td>@employee.Salary</td>
                <td style="white-space:nowrap">
                    <a class="btn btn-primary btn-sm" href="@Url.Action("Edit", "Employee", new { Employee_ID = employee.Employee_ID })">Izmeni</a>
                    <a class="btn btn-danger btn-sm" onclick="return confirm('Da  li ste sigurni?')" href="@Url.Action("Delete", "Employee", new { Employee_ID = employee.Employee_ID })">Obriši</a>

                </td>
            </tr>
        }
    </tbody>
</table>